aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
aiosqlite==0.20.0
altgraph==0.17.4
anyio==4.8.0
async-lru==2.0.4
attrs==24.3.0
beautifulsoup4==4.12.3
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
databases==0.6.2
decorator==5.1.1
fastapi==0.115.6
fire==0.7.0
frequency-controller==0.0.6
frozenlist==1.5.0
greenlet==3.1.1
h11==0.14.0
idna==3.10
Jinja2==3.1.5
jmespath==1.0.1
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
keyboard==0.13.5
lxml==5.3.0
MarkupSafe==3.0.2
multidict==6.1.0
objectpath==0.6.1
packaging==24.2
pbr==6.1.0
pefile==2023.2.7
ply==3.11
propcache==0.2.1
psycopg2-binary==2.9.10
pydantic==1.10.20
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
pyserial==3.5
PySide6==6.8.1
PySide6_Addons==6.8.1
PySide6_Essentials==6.8.1
pywin32==308
pywin32-ctypes==0.2.3
PyYAML==6.0.2
requests==2.32.3
selectolax==0.3.27
setuptools==75.6.0
shiboken6==6.8.1
six==1.17.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==1.4.41
starlette==0.41.3
termcolor==2.5.0
toml==0.10.2
torequests==6.0.0
typing_extensions==4.12.2
uniparser==3.0.2
urllib3==2.3.0
uvicorn==0.34.0
watchdog==6.0.0
watchdogs==2.0.1
xlwings==0.33.6
yarl==1.18.3
